@import "@/assets/font_3doy3lt6av4/iconfont.css";

html,
body,
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

.el-main {
    --el-main-padding: 0px;
}